@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --background-primary: rgb(252, 249, 249);
    --background-secondary: rgb(244, 244, 245);

    --primary-color: rgb(17 24 39 / 1);
    --secondary-color: rgb(209 213 219/1);
    --subtitle-color : rgb(107 114 128 / 1);
    --text-primary-color: rgb(37 99 235 / 1);
}

[data-theme='dark']{
    --background-primary: rgb(17 24 39 / 1);
    --background-secondary: rgb(55 65 81 / 1);
    --primary-color: rgb(252, 249, 249);
    --secondary-color: rgb(255 255 255/1);
    --text-primary-color: rgb(59 130 246 /1);
}


*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}
body{
    background-color: var(--background-primary);
}
button{
    cursor: pointer;
}
.bg-none{
    background: none !important;
}
section {
    margin: 0 auto 0 auto;
    padding: 0 1.5rem 0 1.5rem;
}
a{
    text-decoration: none;
    color: var(--text-primary-color);
    font-weight: 500;
}
.App__header{
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 80rem;
}
.App__header-content{
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    display: flex;
    position: relative;
    border-bottom: 1px solid rgba(15,23,42,.05);
}
.NoResult{
    display: block;
    width: 100%;
    margin: 1rem auto;
    text-align: center;
    font-weight: 400;
}
.search-container{
    margin: 1rem 0;
    padding: 1rem 0;
    display: flex;
    flex-direction: row-reverse;
}
.search{
    position: relative;
}
.search__icon{
    position: absolute;
    padding-left: 0.75rem;
    display: flex;
    align-items: center;
    left: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    color: var(--secondary-color);
}
.search__input{
    padding: 1rem;
    padding-left: 2.5rem;
    border-width: 1px;
    border-radius: 0.5rem;
    border-color: var(--secondary-color);
    background-color: var(--background-secondary);
    font-size: .875rem;
    line-height: 1.25rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    display: block;
}
.search__input:focus{
    border-color: rgb(63 131 248/1)
}

.Input__Label{
    color: var(--primary-color);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: block;
    margin-bottom: 0.5rem;
}
.Input{
    padding: 0.625rem;
    color: var(--primary-color);
    background-color: var(--background-secondary);
    border-color: rgb(209 213 219 / 1);
    border-width: 1px;
    border-radius: 0.5rem;
    width: 100%;
    display: block;
}

.form,
.subtitle,
.button-auth{
    margin-top: calc(1rem * calc(1 - 0));
    margin-bottom: calc(1rem * 0);
}
.form > div {
    margin-top: calc(1rem * calc(1 - 0));
    margin-bottom: calc(1rem * 0);
}

.button-auth{
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    padding: 0.625rem 1.25rem;
    border-radius: 0.5rem;
    width: 100%;
    background-color: rgb(37 99 235 / 1);
    color:#fff;
}
.subtitle{
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0;
    color: var(--subtitle-color);
}

.heading{
    letter-spacing: -0.025em;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--primary-color);
}


@media (min-width: 768px){
    .form,
    .subtitle,
    .button-auth{
        margin-top: calc(1.5rem * calc(1 - 0));
        margin-bottom: calc(1.5rem * 0);
    }
    .form > div{
        margin-top: calc(1.5rem * calc(1 - 0));
        margin-bottom: calc(1.5rem * 0);
    }
}

@media (min-width: 640px){
    .Input{
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}