.Display-Error{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 4rem;
    color: rgb(243 244 246/1);
    background-color: rgb(249 250 251/1);
}
.Display-Error__Container{
    display: flex;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem auto;
    max-width: 100%;
}
.Display-Error__Content{
    max-width: 28rem;
    text-align: center;
}
.Display-Error__Title{
    color: rgb(156 163 175/1);
    font-weight: 800;
    font-size: 8rem;
    line-height: 1;
    margin-bottom: 2rem;
}
.Display-Error__Subtitle{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    color: rgb(56, 56, 56);;
}
.Display-Error__MiniTitle{
    color: rgb(75 85 99/1);
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.Display-Error__Link{
    color: rgb(249 250 251/1);
    font-weight: 600;
    padding: .75rem 2rem;
    background-color: rgb(124 58 237/1);
    border-radius: 0.25rem;
}

@media (min-width: 768px){
    .Display-Error__Container {
        max-width: 48rem;
    }
    .Display-Error__Subtitle{
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
}
@media (min-width: 640px){
    .Display-Error__Container {
        max-width: 42rem;
    }
}